/* Navbar CSS Starts */

.dropdown-menu-columns {
    width: 600px;

}

.dropdown-menu-columns .col {
    margin-right: 10px;
}

/* Navbar CSS Ends */

/* Social Links CSS Starts */

.social-links {
    margin: 50px auto;
}

.social-links h5 {
    margin-bottom: 15px;
    font-size: 16px;
}

.social-links a {
    text-decoration: none;
    margin: 5px;
    font-size: 22px;
    color: white;
}

.social-links i {
    border: 1px solid white;
    padding: 8px;
    transition: all 0.5s;
}

.social-links a:hover .fa-facebook {
    color: #3b5999;
    transform: translate(0, -5px);
    border: 1px solid #3b5999;
}


.social-links a:hover .fa-instagram {
    color: #ff4757;
    transform: translate(0, -5px);
    border: 1px solid #ff4757;
}

.social-links a:hover .fa-linkedin {
    color: #0a66c2;
    transform: translate(0, -5px);
    border: 1px solid #0a66c2;
}

/* Social Links CSS Ends */